* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    background-color: #fafafa;
}
nav {
    background-color: #74b4e2;
    overflow: hidden;
}
nav ul {
    float: right;
}
nav li {
    line-height: 67px;
    margin: 0 20px;
    /*text-align: center;*/
    /*background-color: red;*/
    display: inline-block;
}
nav li a:hover {
    text-decoration: underline;
}
nav h1 {
    float: left;
    margin: 20px;
}
.main {
    width: 1000px;
    margin: 60px auto;
    min-height: 380px;
}
article {
    margin: 10px 200px;
}
.articleList li {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.articleList li span {
    float: right;
}
article h2 {
    margin: 25px;
    text-align: center;
    font-size: 28px;
}
footer a {
    text-decoration: underline;
}
footer {
    padding: 30px;
    text-align: center;
    background-color: #74b4e2;
}
